<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SawitScan - Start Checking</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename = '/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename = '/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: SawitScan
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/SawitScan-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <script src="{{ url_for('static', filename='js/webcam.js')}}"></script>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../assets/img/logo.png" alt=""> -->
        <h1>SawitScan<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/startchecking">Start Checking</a></li>
          <li><a href="/contact">Contact</a></li>
        
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Start Checking</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Start Checking</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Startchecking Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Akurasi dan Kepastian</h3>
              <p>Peningkatan akurasi dalam penghitungan buah sawit dan peningkatan kepastian dalam mengidentifikasi kualitas buah sawit. Hal ini penting karena dapat mempengaruhi kualitas produk akhir dan kepuasan pelanggan.</p>
              <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Pemantauan Real-time</h3>
              <p>Akses data secara real-time memungkinkan pengambilan keputusan yang lebih cepat.</p>
              <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Kualitas Buah</h3>
              <p>Sawit Scan merinci kualitas buah sawit melalui platform online, memberikan pemantauan yang tepat untuk mendukung keberlanjutan dan efisiensi dalam industri kelapa sawit.</p>
              <a href="startchecking-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>
      </div>
    </section>
    <!-- End Startchecking Section -->
    
    <!-- ======= Preview Camera ======= -->
    <div class="container">
      <div class="row pt-4 pb-4 m-4">
          <div class="col-6">
              <div class="card bg-light" style="width: 35rem;">
                  <h5 class="card-header">PREVIEW</h5>
                  <div class="card-body">
                      <video id="webcam-preview" width="100%" height="auto" playsinline autoplay muted></video>
                      <br>
                      <button class="btn btn-secondary btn-sm mt-2" onclick="startWebcam()">Start Webcam</button>
                  </div>
                  <div class="card-footer" style="text-align: center;">
                      <button type="button" class="btn btn-success m-2" onclick="startRecording()">Start</button>
                      <button type="button" class="btn btn-danger m-2" onclick="stopRecording()">Stop</button>
                      <button type="button" class="btn btn-dark m-2" id="snap" onclick="takeSnapshot()">Submit</button>
                  </div>
              </div>
          </div>
  
          <div class="col-6">
              <div class="card bg-light" style="width: 40rem;">
                  <h5 class="card-header">TABLE DATA</h5>
                  <div class="card-body">
                      <!-- Table data here -->
                  </div>
              </div>
  
              <div class="card bg-light" style="width: 40rem; margin-top: 20px;">
                  <h5 class="card-header">CHART DATA</h5>
                  <div class="card-body">
                      <!-- Chart data here -->
                  </div>
              </div>
  
              <!-- Prediction Canvas -->
              <canvas id="predictionCanvas" width="640" height="480" style="border: 2px solid black; margin-top: 20px;"></canvas>
          </div>
      </div>
  </div>
  </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>SawitScan</h3>
              <p>
                Jakarta 12930 <br>
                Indonesia <br>
                <strong> </strong>  <br>
                <strong> </strong>  <br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/startchecking">Start Checking</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Project Management</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Artificial Intelligence</a></li>
              <li><a href="#">Computer Vision</a></li>
              <li><a href="#"> </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> </h4>
            <ul>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> </h4>
            <ul>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
            <ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>SawitScan</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/SawitScan-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/glightbox/js/glightbox.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  
</body>

</html>