<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SawitScan - Start Checking</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename = '/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename = '/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: SawitScan
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/SawitScan-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../assets/img/logo.png" alt=""> -->
        <h1>SawitScan<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/startchecking">Start Checking</a></li>
          <li><a href="/contact">Contact</a></li>
        
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Start Checking</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Start Checking</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Startchecking Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Akurasi dan Kepastian</h3>
              <p>Peningkatan akurasi dalam penghitungan buah sawit dan peningkatan kepastian dalam mengidentifikasi kualitas buah sawit. Hal ini penting karena dapat mempengaruhi kualitas produk akhir dan kepuasan pelanggan.</p>
              <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Pemantauan Real-time</h3>
              <p>Akses data secara real-time memungkinkan pengambilan keputusan yang lebih cepat.</p>
              <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Kualitas Buah</h3>
              <p>Sawit Scan merinci kualitas buah sawit melalui platform online, memberikan pemantauan yang tepat untuk mendukung keberlanjutan dan efisiensi dalam industri kelapa sawit.</p>
              <a href="startchecking-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>
      </div>
    </section>
    <!-- End Startchecking Section -->
    
    <!-- ======= Preview Camera ======= -->
    <div class="container">
      <div class="row pt-4 pb-4 m-4">
          <div class="col-6">
              <div class="card bg-light" style="width: 75%;">
                  <h5 class="card-header">PREVIEW UPLOAD GAMBAR</h5>
                  <div class="card-body">
                    <input type="file" id="uploadInput">
                    <canvas style="width: 100%;"></canvas>
                    <script>
                      const input = document.getElementById("uploadInput");
                      input.addEventListener("change",async(event) => {
                          const file = event.target.files[0];
                          const data = new FormData();
                          data.append("image_file",file,"image_file");
                          const response = await fetch("/detect",{
                              method:"post",
                              body:data
                          });
                          const boxes = await response.json();
                          draw_image_and_boxes(file,boxes);
                      })
                      function draw_image_and_boxes(file,boxes) {
                         const img = new Image()
                         img.src = URL.createObjectURL(file);
                         img.onload = () => {
                             const canvas = document.querySelector("canvas");
                             canvas.width = img.width;
                             canvas.height = img.height;
                             const ctx = canvas.getContext("2d");
                             ctx.drawImage(img,0,0);
                             ctx.strokeStyle = "#00FF00";
                             ctx.lineWidth = 3;
                             ctx.font = "18px serif";
                             boxes.forEach(([x1,y1,x2,y2,label]) => {
                                 ctx.strokeRect(x1,y1,x2-x1,y2-y1);
                                 ctx.fillStyle = "#00ff00";
                                 const width = ctx.measureText(label).width;
                                 ctx.fillRect(x1,y1,width+10,25);
                                 ctx.fillStyle = "#000000";
                                 ctx.fillText(label,x1,y1+18);
                             });
                         }
                      }
                    </script>
                      <!-- <video id="webcam-preview" width="100%" height="auto" playsinline autoplay muted></video>
                      <br>
                      <button class="btn btn-secondary btn-sm mt-2" onclick="startWebcam()">Start Webcam</button>
                   -->
                    </div>
                  <!-- <div class="card-footer" style="text-align: center; " width="75%">
                      <button type="button" class="btn btn-success m-2" style="width: 20%;">Start</button>
                      <button type="button" class="btn btn-danger m-2" style="width: 20%;">Stop</button>
                      <button type="button" class="btn btn-dark m-2" style="width: 30%;" id="snap">Submit</button>
                  </div> -->
              </div>

              <div class="card bg-light" style="width: 75%; margin-top: 10%;">
                <h5 class="card-header">PREVIEW REALTIME DETECTION</h5>
                <div class="card-body">
                  <!-- <form class="form-signin col-lg-3" method="post" enctype="multipart/form-data" name="form1" action="{{ url_for('startchecking') }}" >
                    <input type="file" name="file" class="form-control-file" id="inputfile" style="width: 250%;">
                    <br>
                    <button class="btn btn-secondary btn-sm mt-2" type="submit" onclick="handleFormSubmission()" style="height: 35%">Upload</button>
                    <script src="{{ url_for('static', filename='js/upload_script.js') }}"></script>
                    
                  </form> -->
                  
                </div>
                <div class="card-footer" style="text-align: center; width:100%;">
                  <button type="button" class="btn btn-success m-2" style="width: 20%;" onclick="startWebcam()">Start</button>
                  <button type="button" class="btn btn-danger m-2" style="width: 20%;" onclick="stopWebcam()">Stop</button>
                  <!-- <button type="button" class="btn btn-dark m-2" style="width: 30%;" onclick="captureAndSave()">Submit</button> -->
              </div>
              <div class="card-footer" style="text-align: center; width: 100%;">
                  <video id="video-preview" style="width: 100%;" autoplay playsinline></video>
              </div>
              
              <script>
                  let videoStream;
              
                  function startWebcam() {
                      navigator.mediaDevices.getUserMedia({ video: true })
                          .then((stream) => {
                              videoStream = stream;
                              document.getElementById('video-preview').srcObject = stream;
                          })
                          .catch((error) => {
                              console.error('Error accessing webcam:', error);
                          });
                  }
              
                  function stopWebcam() {
                      if (videoStream) {
                          let tracks = videoStream.getTracks();
                          tracks.forEach(track => track.stop());
                          document.getElementById('video-preview').srcObject = null;
                      }
                  }
              
                  // function captureAndSave() {
                  //     if (videoStream) {
                  //         let canvas = document.createElement('canvas');
                  //         canvas.width = videoStream.getVideoTracks()[0].getSettings().width;
                  //         canvas.height = videoStream.getVideoTracks()[0].getSettings().height;
              
                  //         let ctx = canvas.getContext('2d');
                  //         ctx.drawImage(document.getElementById('video-preview'), 0, 0, canvas.width, canvas.height);
              
                  //         let imageDataURL = canvas.toDataURL('image/png');
              
                  //         // Kirim data gambar ke server atau simpan ke direktori "photosnap"
                  //         saveImage(imageDataURL);
                  //     }
                  // }
              
                  // function saveImage(dataURL) {
                  //     // Kirim data URL gambar ke server atau simpan ke direktori "photosnap"
                  //     fetch('/save_image', {
                  //         method: 'POST',
                  //         headers: {
                  //             'Content-Type': 'application/json',
                  //         },
                  //         body: JSON.stringify({ image: dataURL }),
                  //     })
                  //     .then(response => response.json())
                  //     .then(data => {
                  //         alert(data.message); // Menampilkan pesan hasil penyimpanan
                  //         // Tampilkan pratinjau hasil tangkapan layar
                  //         document.getElementById('captured-image').src = data.image_url;
                  //     })
                  //     .catch(error => {
                  //         console.error('Error saving image:', error);
                  //     });
                  // }
              </script>
                <!-- <div class="card-footer" style="text-align: center; width: 100%; background-color: ghostwhite; ">
                  <img id="captured-image" style="max-width: 100%;" src="{{ url_for('static', filename ='namafile') }}" alt="Captured Image">

                </div> -->
              </div>
          </div>
  
          <div class="col-6">
              <div class="card bg-light" style="width: 50%;  margin-left: 10%;">
                  <h5 class="card-header">TABLE DATA</h5>
                  <div class="card-body">
                      <!-- Table data here -->
                  </div>
              </div>
  
              <div class="card bg-light" style="width: 50%;  margin-left: 10%; margin-top: 10%;">
                  <h5 class="card-header">CHART DATA</h5>
                  <div class="card-body">
                      <!-- Chart data here -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>SawitScan</h3>
              <p>
                Jakarta 12930 <br>
                Indonesia <br>
                <strong> </strong>  <br>
                <strong> </strong>  <br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/startchecking">Start Checking</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Project Management</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Artificial Intelligence</a></li>
              <li><a href="#">Computer Vision</a></li>
              <li><a href="#"> </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> </h4>
            <ul>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> </h4>
            <ul>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
              <li><a href="#"> </a></li>
            <ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>SawitScan</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/SawitScan-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/glightbox/js/glightbox.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>